body {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.ball1,
.ball2 {
    width: 80px;
    height: 80px;
    border-radius: 100%;

}

.ball1 {
    background-color: gold;
}

.ball2 {
    background-color: royalblue;
}

